* {
  font-family: Roboto, sans-serif;
}

body {
  height: 200vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-color: #1f2937;  
}

.banner {
  height: 550px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.footer {
  height: 40px;
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
  align-items: center;
}

.left {
  color: white;
  font-size: 24px;
  font-weight: 530;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
}

a {
  color: #cdcdcf;
  text-decoration: none;
}

.banner-container {
  display: flex;
  padding: 120px 200px 0px 200px;
  justify-content: space-between;
  gap: 14px;
}

.banner-textbox {
  display: flex;
  flex-direction: column;
  width: 420px;
  gap: 10px;
}

.banner-head {
  font-size: 48px;
  color: white;
  font-weight: bolder;
}

.banner-text {
  color: #cdcdcf;
  font-size: 18px;
}

.banner-pic {
  width: 520px;
  height: 230px;
  background-color: #82828c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #3882f6;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 8px 32px;
  font-weight: 600;
  font-size: 16px;
}

.title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding: 40px;
}

.info {
  display: flex;
  /* width: 500px; */
  padding: 0px 120px 130px 120px;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;   
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 180px;
  gap: 8px;
}

.display-text {
  color: #727272;
  font-size: 18px;
}

.image {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 16px;
  background-color: white;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 49vh;
  background-color: #E5E7EB;
  flex-shrink: 0;
}

.quote-box {
  width: 750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.from {
  text-align: end;
  font-size: 24px;
  font-weight: 700;
}

.signup-sheet {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.signup-sheet, .info, .title {
  background-color: white;
}

.bar {
  width: 100vh;
  height: 140px;
  border: 4px solid #3882f6;
  border-radius: 8px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-bar button {
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  padding: 8px 32px;
  font-weight: 600;
  font-size: 16px;
}

.bar-head {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.bar-text {
  color: white;
}

.footer {
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #cdcdcf;
  flex-shrink: 0;
}